/* Style général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('/resources/images/background/login_bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 13%;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}

/* Formulaires */
form:not(.no-display) {
  width: 35%;
  margin: 2% auto;
  padding: 2%;
  border: 0.1% solid #ccc;
  border-radius: 1%;
  background-color: #fff;
  box-shadow: 0 0.4% 1% rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container {
  width: 100%;
  padding: 2%;
  border: 0.1% solid #ccc;
  border-radius: 1%;
  background-color: #fff;
  box-shadow: 0 0.4% 1% rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 100%
}

.main-container {
  max-width: 50%;
}

input[type="text"], input[type="password"], input[type="submit"] {
  width: 80%;
  padding: 1%;
  margin: 1% 0;
  border: 0.1% solid #ccc;
  border-radius: 0.5%;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Liens */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Messages d'erreur */
.error {
  color: red;
  font-weight: bold;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.75%;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 5%;
}

.profile-section, .profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.profile-icon, .profile-icon-big {
  border-radius: 25%;
  background-color: #0056b3;
}

.profile-icon {
  width: 25%;
  height: 25%;
  margin: 0 10% 0 20%;
}

.profile-icon-big {
  width: 16%;
  height: 16%;
}

.username {
  font-size: 80%;
}

/* Sidebar */
.sidebar, .sidebar-right {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #444;
  color: white;
  padding: 1%;
  z-index: 999;
  display: flex;
  justify-content: center;
  font-size : 100%
}

.sidebar {
  left: 0;
  width: 15%;
}

.sidebar-right {
  right: 0;
  width: 12.5%;
}

.sidebar ul, .sidebar-right ul {
  list-style: none;
  padding: 0;
  margin-top: 30%;
}

.sidebar li, .sidebar-right li {
  margin: 20% 0;
}

.sidebar a, .sidebar-right a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover, .sidebar-right a:hover {
  text-decoration: underline;
}

/* Liste d'amis */
.friends-list {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
}

.friends-list a {
  text-decoration: none;
  color: #333;
}

.friends-list li {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 0;
  background-color: #f4f4f4;
  padding: 1%;
  border-radius: 0.8%;
  box-shadow: 0 0.2% 0.5% rgba(0, 0, 0, 0.1);
}

.player-icon {
  width: 8%;
  height: 8%;
  border-radius: 50%;
}

.inline-form {
  display: inline;
}

/* Boutons accept/reject */
.accept-button, .reject-button, .cancel-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-color: transparent;
  margin-left: 0.5%;
  float: right;
}

.accept-button {
  background-image: url('/resources/images/accept.png');
}

.reject-button {
  background-image: url('/resources/images/reject.png');
}

.cancel-button {
  background-image: url('/resources/images/reject.png');
}

.session-section {
  margin-left: auto;
}

/* Styles pour la popup et l'overlay */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2%;
  border: 0.1% solid #888;
  box-shadow: 0 0.5% 1.5% rgba(0,0,0,0.3);
  text-align: center;
  width: 40%;
}

.popup .close {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 2%;
  cursor: pointer;
}

.profile-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-icon-option {
  width: 10%;
  height: 10%;
  margin: 1%;
  cursor: pointer;
  transition: transform 0.2s;
}

.profile-icon-option:hover {
  transform: scale(1.1);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.friends-section {
  width: 90%;
  margin: 2% auto;
  padding: 2%;
  border: 0.1% solid #ccc;
  border-radius: 1%;
  background-color: #fff;
}

.nest-slot-side {
  position: relative;
  width: 5%;
  height: 5%;
  display: inline-block; 
  margin: 1%;
}

.nest-image-side {
  width: 100%;
}

.chicken-on-nest-side {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(10%, -33%);
  width: 4%;
  height: 4%;
}

.incubator-container-side {
  margin-top: 1%;
}
