/* Style général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('/resources/images/background/login_bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 13%;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}

/* Formulaires */
form:not(.no-display) {
  width: 35%;
  margin: 2% auto;
  padding: 2%;
  border: 0.1% solid #ccc;
  border-radius: 1%;
  background-color: #fff;
  box-shadow: 0 0.4% 1% rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container {
  margin-top: 25%;
  width: 100%;
  padding: 2%;
  border: 0.1% solid #ccc;
  border-radius: 1%;
  background-color: #fff;
  box-shadow: 0 0.4% 1% rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 100%;
  overflow-y: auto;
}


input[type="text"], input[type="password"], input[type="submit"] {
  width: 80%;
  padding: 1%;
  margin: 1% 0;
  border: 0.1% solid #ccc;
  border-radius: 0.5%;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Liens */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Messages d'erreur */
.error {
  color: red;
  font-weight: bold;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.75%;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 5%;
}

.profile-section, .profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.profile-icon, .profile-icon-big {
  border-radius: 25%;
  background-color: #0056b3;
}

.profile-icon {
  width: 25%;
  height: 25%;
  margin: 0 10% 0 20%;
}

.profile-icon-big {
  width: 16%;
  height: 16%;
}

.username {
  font-size: 90%;
}

/* Sidebar */
.sidebar, .sidebar-right {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #444;
  color: white;
  padding: 1%;
  z-index: 999;
  display: flex;
  font-size : 100%
}

.sidebar {
  left: 0;
  width: 15%;
}

.sidebar-right {
  right: 0;
  width: 12.5%;
}

.sidebar ul, .sidebar-right ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.sidebar li, .sidebar-right li {
  margin: 20px 0;
}

.sidebar a, .sidebar-right a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover, .sidebar-right a:hover {
  text-decoration: underline;
}

/* Liste d'amis */
.friends-list {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
}

.friends-list a {
  text-decoration: none;
  color: #333;
}

.friends-list li {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 0;
  background-color: #f4f4f4;
  padding: 1%;
  border-radius: 0.8%;
  box-shadow: 0 0.2% 0.5% rgba(0, 0, 0, 0.1);
}

.player-icon {
  width: 8%;
  height: 8%;
  border-radius: 50%;
}

.inline-form {
  display: inline;
}

/* Boutons accept/reject */
.accept-button, .reject-button, .cancel-button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-color: transparent;
  margin-left: 0.5%;
  float: right;
}

.accept-button {
  background-image: url('/resources/images/accept.png');
}

.reject-button {
  background-image: url('/resources/images/reject.png');
}

.cancel-button {
  background-image: url('/resources/images/reject.png');
}

.session-section {
  margin-left: auto;
}

/* Styles pour la popup et l'overlay */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2%;
  border: 0.1% solid #888;
  box-shadow: 0 0.5% 1.5% rgba(0,0,0,0.3);
  text-align: center;
  width: 40%;
}

.popup .close {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 2%;
  cursor: pointer;
}

.profile-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-icon-option {
  width: 10%;
  height: 10%;
  margin: 1%;
  cursor: pointer;
  transition: transform 0.2s;
}

.profile-icon-option:hover {
  transform: scale(1.1);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.friends-section {
  width: 90%;
  margin: 2% auto;
  padding: 2%;
  border: 0.1% solid #ccc;
  border-radius: 1%;
  background-color: #fff;
}

.nest-slot-side {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block; 
  margin: 10px;
}

.nest-image-side {
  width: 100%;
}

.chicken-on-nest-side {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(10%, -33%);
  width: 40px;
  height: 40px;
}

.chicken-on-nest {
  position: absolute; 
  top: -20px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  height: 100%; 
  cursor: pointer;
}

.incubator-container-side {
  margin-top: 25%;
  display: flex;
}

.egg-shop {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.egg-shop a {
  text-decoration: none;
  color: #333;
}

.egg-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 0;
  background-color: #f4f4f4;
  padding: 1%;
  border-radius: 0.8%;
  box-shadow: 0 0.2% 0.5% rgba(0, 0, 0, 0.1);
}

.egg-display {
  width: 10%;
  height: 10%;
}


.egg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-score {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}


@keyframes bounce {
0% { transform: scale(1); }
50% { transform: scale(1.2); }
100% { transform: scale(1); }
} 

.egg {
width: 150px;
height: 200px;
background: url('/resources/images/egg.png') no-repeat center center;
background-size: contain;
cursor: pointer;
}

.egg.bounce {
animation: bounce 0.25s ease-in-out;
}


@keyframes fall {
0% {
  transform: translate(0, 0) rotate(var(--start-rotation));
  opacity: 1;
}
30% {
  transform: translate(calc(var(--random-x) * 30px), -30px) rotate(calc(var(--start-rotation) + 45deg));
}
100% {
  transform: translate(calc(var(--random-x) * 100px), 200px) rotate(calc(var(--start-rotation) + 360deg));
  opacity: 0;
}
}

.floating-text {
position: absolute;
font-size: 20px;
font-weight: bold;
color: #ffcc00;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
opacity: 1;
animation: flyUp 1.5s ease-out forwards;
pointer-events: none;
user-select: none;
}

@keyframes flyUp {
0% {
  transform: translateY(0);
  opacity: 1;
}
100% {
  transform: translateY(-75px);
  opacity: 0;
}
}


.egg-fragment {
position: absolute;
width: 20px;
height: 20px;
background: url('/resources/images/egg_fragment.png') no-repeat center center;
background-size: cover;
pointer-events: none; /* Empêche les fragments d'intercepter les clics */
animation: fall 2s ease-out forwards;
z-index: 1001;
}

.egg-fragment-open {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('/resources/images/egg_fragment.png') no-repeat center center;
  background-size: cover;
  pointer-events: none; /* Empêche les fragments d'intercepter les clics */
  animation: fall 3s ease-out forwards;
  z-index: 1001;
  }

@keyframes egg-explosion {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(2);
      opacity: 0.5;
  }
  100% {
      transform: scale(3);
      opacity: 0;
  }
}

.egg-explosion {
  position: absolute;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  animation: egg-explosion 0.5s ease-out forwards;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .sidebar-right {
    display: none;
  }

  .main-container {
    max-width: 70%;
    transform: translateX(15%);
  }
}

.egg-shop button {
  background-color: #585858;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

a.info-button {
  width: 10%;
  height: 10%;
  cursor: pointer;
}

.info-button img {
  width: 40%;
  height: 40%;
}

/* Conteneur du patch notes */
.patch-notes-container {
  position: fixed;
  left: 56%;
  top: 5%;
  width: 37%;
  max-height: 50%;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

/* Header du patch notes (fait office de bouton) */
#patchNotesHeader {
  background: #444;
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-top-left-radius: 10px;
}

/* Contenu du patch notes */
#patchNotesContent {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

/* Style des notes */
.patch-note {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  color:#333;
}

.chicken-item {
  border: 2px solid #ccc;
  padding: 3%;
  text-align: center;
  position: relative;
  width: 15%;
  height: 15%;
  min-width: 100px;
}

.chicken-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.chicken-item.common {
  background-color: #f0f0f0;
}

.chicken-item.rare {
  background-color: #d0e7ff;
}

.chicken-item.epic {
  background-color: #f3e5ff;
}

.chicken-item.legendary {
  background-color: #ffe5b4;
}

.chicken-item img {
  width: 100%;
  height: 100%;
}

.side-score {
  display: flex; 
  justify-content: center;
  margin: 10px;
}

.patch-notes {
  display: flex; 
  justify-content: center; 
  margin-left: 85%;
}

.egg-animation img {
  width: 100%;
  height: 100%;
}


p.common {
  color: #ccc;
}
p.rare {
  color: blue;
}
p.epic {
  color: purple;
}
p.legendary {
  color: orange;
}